body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.programme {
  background-color: #f0f0f0;
  padding: 50px;
}

article {
  margin-bottom: 50px;
}

table {
  width: 90vw;
  margin-left: 40px;
  border-spacing: 4px;
}

.horizontal-table {
  border-spacing: 0px 4px;
}

.horizontal {
  margin-bottom: 3px;
}

td:hover,
table.horizontal-table tr.horizontal:hover td {
  background-color: #d1d1d1;
  cursor: pointer;
}

th,
td {
  background-color: #e0e0e0;
  border: none;
  color: rgb(37, 37, 37);
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
}

th {
  font-weight: bold; /* Make sure they're bold */
  text-align: left;
}

ul {
  list-style-type: none;
}

li {
  background-color: #e0e0e0;
  border: none;
  color: rgb(37, 37, 37);
  padding: 15px 32px;
  text-decoration: none;
  display: table;
  font-size: 16px;
  margin: 4px 2px;
}

ul.inModal{
  margin-top: 30px;
  list-style-type: disc;
  background-color: #ececec;
  padding: 10px 20px;
}

.inModal li {
  text-align: center;
  background-color: inherit;
  border: none;
  color: rgb(37, 37, 37);
  padding: 0px;
  font-size: inherit;
  margin: inherit;
}

.inModal li:hover {
  background-color: inherit;
  cursor: inherit;
}

li:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 640px) {
  .programme {
    padding: 10px;
  }
  table {
    width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
  }
  .number {
    display: none;
  }
  ul {
    padding-left: 10px;
  }
  .modal-content {
    width: 80%;
  }
}

.position-img {
  width: 80%;
}
